<div class="container p-4">
  
  <h1 class="text-center">Dodaj nowy tutorial</h1>


  <form #formRef="ngForm" class="p-2" (ngSubmit)="setData(formRef)">
    <div class="form-group mb-3">
      <label for="tytul">Tytuł</label>
      <input 
        type="text" 
        class="form-control" 
        name="tytul" 
        id="tytul" 
        [ngModel]="tutorial.tytul" 
        required
      />
    </div>

    <div class="form-group mb-3">
      <label for="opis">Opis</label>
      <textarea 
        class="form-control" 
        name="opis" 
        id="opis" 
        [ngModel]="tutorial.opis" 
        required
      ></textarea>   
    </div>

    <div class="form-check mb-3">
        <input 
          class="form-check-input me-2" 
          type="checkbox" 
          name="opublikowany" 
          id="opublikowany" 
          [ngModel]="tutorial.opublikowany"
        />
        <label class="form-check-label" for="opublikowany">
          Opublikowany
        </label>
    </div>

    <button type="submit" class="btn btn-primary col-12 mb-3">Dodaj</button>
    <div [ngClass]="alert.class">{{alert.message}}</div>
  </form>
</div>
